global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets:
          - 'api-gateway:8080'
          - 'order-service:8081'
          - 'inventory-service:8082'
          - 'payment-service:8083'
          - 'saga-orchestrator:8084'

