apiVersion: apps/v1
kind: Deployment
metadata:
  name: orderservice
  labels:
    app: orderservice
spec:
  replicas: 2
  selector:
    matchLabels:
      app: orderservice
  template:
    metadata:
      labels:
        app: orderservice
    spec:
      containers:
        - name: orderservice
          image: orderservice:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: ORDERSERVICE_DB_URL
              valueFrom:
                configMapKeyRef:
                  name: orderservice-config
                  key: ORDERSERVICE_DB_URL
            - name: ORDERSERVICE_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: orderservice-secret
                  key: ORDERSERVICE_DB_USERNAME
            - name: ORDERSERVICE_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: orderservice-secret
                  key: ORDERSERVICE_DB_PASSWORD
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: orderservice-config
                  key: SERVER_PORT
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 1
              memory: 1Gi

