server:
  port: 8761

spring:
  application:
    name: discovery-service
  security:
    user:
      name: eureka
      password: eureka

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false

logging:
  pattern:
    console: '{"ts":"%d{ISO8601}","level":"%p","logger":"%c{1}","msg":"%m"}%n'

